@model IEnumerable<Post>

@{

}
<h2 class="title">BlogChampion</h2>


<div>
    <ul>
        @foreach(var post in Model)
        {
            <li>
                
                <a class="ViewClass" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                    Read @post.Title

                </a>
                -
                <a class="EditClass" asp-controller="Home" asp-action="Change" asp-route-id="@post.Id">
                    Edit @post.Title

                </a>
                -
                <a class= "RemoveClass" asp-controller="Home" asp-action="Remove" asp-route-id="@post.Id">
                    Remove @post.Title

                </a>
            </li>
        }
    </ul>
</div>